@charset "UTF-8";
:root{

}
*{
    margin: 0;
    padding: 0;
}
#celular{
    background-image: url(../imagens/frame-iphone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24vw;
    height: 98vh;
    margin: auto; 
    
   
    
    
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    top: 42.6%;
    left: 50%;
    transform: translate(-50%  ,-50%);
    width: 21vw;
    height: 74vh;
}
body{
    position: relative;
    width: 98vw;
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vh;
}
iframe{
    padding-top: 16vh;
    display: block;
    margin: auto;
    width: 10vw;
    height: 50vh;
}

    
ul>li>a>img{
    
    position: absolute;
    border-radius:50%;
    width: -1vw ;
    height: 6vh;
    left: 66%;
    top: 15%;
}

